<h1>PENEEEEE</h1>
<form action='@Url.Action("LoginGuardar", "Account")' method = "POST" enctype="multipart/form-data">
Usuario: <input type="text" name = "usuario">
Contraseña: <input type="password" name = "contraseña">
<input type ="submit" value = "Entrar">
</form>