USE [master]
GO
/****** Object:  Database [ToDoList]    Script Date: 7/8/2025 14:09:11 ******/
CREATE DATABASE [ToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ToDoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ToDoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList]
GO
/****** Object:  User [alumno]    Script Date: 7/8/2025 14:09:11 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 7/8/2025 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[IdTarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[FechaTarea] [date] NOT NULL,
	[Finalizado] [bit] NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/8/2025 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
	[FechaUltimoInicio] [date] NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([IdTarea], [Titulo], [Descripcion], [FechaTarea], [Finalizado], [IdUsuario]) VALUES (4, N'Tarea Matematica', N'Hacer ejercicios 1, 2 y 3', CAST(N'2025-10-02' AS Date), NULL, 1)
INSERT [dbo].[Tarea] ([IdTarea], [Titulo], [Descripcion], [FechaTarea], [Finalizado], [IdUsuario]) VALUES (5, N'Tarea Lengua', N'escribir un ensayo sobre martin fierro', CAST(N'2025-08-20' AS Date), NULL, 2)
INSERT [dbo].[Tarea] ([IdTarea], [Titulo], [Descripcion], [FechaTarea], [Finalizado], [IdUsuario]) VALUES (8, N'Tarea ingles', N'Sb paginas 24 y 25', CAST(N'2025-08-15' AS Date), NULL, 4)
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Apellido], [Username], [Foto], [FechaUltimoInicio], [Contraseña]) VALUES (1, N'Zoe', N'Acquistapace', N'zoe_ac', N'fotoZoe', NULL, N'zoe1234')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Apellido], [Username], [Foto], [FechaUltimoInicio], [Contraseña]) VALUES (2, N'Manuel', N'Mandel', N'manu_mandel', N'fotoManu', NULL, N'manu1234')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Apellido], [Username], [Foto], [FechaUltimoInicio], [Contraseña]) VALUES (4, N'Facundo', N'Peri', N'facu_peri', N'fotoFacu', NULL, N'facu1234')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Usuario]
GO
USE [master]
GO
