Aca va el formulario que pide todo lo necesario (menos id de usuario ni de la tarea)

<form action='@Url.Action("NuevaTareaGuardar", "Home")' method = "POST" enctype="multipart/form-data">
Usuario: <input type="text" name = "usuario">
Contraseña: <input type="password" name = "contraseña">
<input type ="submit" value = "Entrar">
</form>