<div class = 'Inicio'>
    <h1>Seleccione la opcion que deseea</h1>

    <div>

        <a href='@Url.Action("Login", "Account")'>Login</a>

    </div>

    <div>

        <a href='@Url.Action("Registro", "Account")'>Registrarse</a>

    </div>
</div>
