
<div class = 'Inicio'>
    <h1>Seleccione la opcion que deseea</h1>

    <div> <a href="Login.cshtml">Inicio de Sesion</a>
    </div>

    <div>
    <a href="Registro.cshtml">Registrarse</a>
     </div>
</div>
